<h2>Example User profile with Followers page</h2>

<ul>
    <li>Username: {{user.username}}</li>
    <li>Membership: {{user.membership}}</li>
    <li>Email: {{user.email}}</li>
    <li>ID: {{user.id}}</li>
    <li>Follower: {{fromUser.username}}</li>
    <li>Following: {{toUser.username}}</li>
</ul>

<!--
<ul>
	{{#each followers}}
	<li>Follower Name: {{this.username}}</li>
	{{/each}}
</ul>
-->
